<form class="ui raised segment form" action="/dashboard/addstation" method="POST">
    <div class="field">
        <label>Name</label>
        <input placeholder="Name" type="text" name="name">
    </div>
    <div class="field">
        <label>Latitude</label>
        <input placeholder="0000" type="text" name="latitude">
    </div>
    <div class="field">
        <label>Longitude</label>
        <input placeholder="0000" type="text" name="longitude">
    </div>
    <button class="ui blue submit button">Add Station</button>
</form>